body {
  margin: 0;
  padding: 0;
  background-image: url(../assets/tropical2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 10pt;
  font-family: Arial, sans-serif;
}
.hidden {
  visibility: hidden;
}

.game-options,
.game,
.copyright {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
.logo img {
  width: 350px;
  margin: 40px auto 20px auto;
}

.dark-background {
  background-color: rgba(0, 0, 0, 60%);
}

.game-options-container {
  z-index: 200;
  position: relative;
  height: 400px;
  width: 500px;
  top: 25%;
  margin: 0 auto;
  background-color: rgb(98, 224, 190);

  display: flex;
  flex-direction: column;
  align-items: center;
}
.game-options-container .game-title {
  margin: 5% auto;
}
.select-category-label,
.game span {
  width: 60%;
  margin: 10% auto 10px auto;
}
.game-options-container select {
  width: 60%;
  font-size: 12pt;
}
#start-button {
  background-color: rgb(20, 60, 136);
  border: none;
  color: white;
  width: 130px;
  height: 50px;
  font-size: 12pt;
  margin: 20px auto;
}

.game-container {
  z-index: 300;
  background-color: rgba(255, 255, 255, 0.7);
  position: relative;
  height: 400px;
  width: 500px;
  top: 25%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.guess-title {
  margin: 5% auto;
  width: 60%;
  height: 35px;
  font-size: 12pt;
}
.game-title {
  width: 60%;
  font-size: 22pt;
  font-weight: bold;
  color: rgb(255, 86, 83);
}
.current-word {
  margin: 10% auto;
  font-size: 24pt;
  width: 60%;
  color: rgb(70, 160, 135);
}
.current-word .solution {
  color: rgb(255, 86, 83);
}
.wrong-guesses {
  margin: 10px auto;
  width: 60%;
}
.wrong-guesses-title {
  font-size: 12pt;
}
.wrong-guesses-letters {
  font-size: 20pt;
  color: rgb(70, 160, 135);
  height: 50px;
}
#reset-button {
  background-color: rgb(20, 60, 136);
  border: none;
  color: white;
  width: 130px;
  height: 50px;
  font-size: 12pt;
  margin: 30px auto;
}

.copyright {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 auto;
  text-align: center;
  color: white;
}
.copyright div {
  width: 500px;
  padding: 6px;
  margin: 20px auto 20px auto;
}

.canvas-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.canvas {
  position: relative;
  margin: 0 auto;
  width: 1000px;
  height: 200px;
  z-index: -1;
}
.music {
  display: none;
}
.music-control {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 0px;
  font-size: 16pt;
  background-color: rgba(0, 0, 0, 0%);
  border: none;
}
